body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "微软雅黑";
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.inner_box {
    width: 1190px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    clear: both;
    height: 0;
    overflow: hidden;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

em,
b,
i,
strong,
u {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}